<h2>{{model.title}}</h2>
Titel: {{input value=model.title}}

Um {{input value=model.time}}
<br>
An: {{input type="checkbox" checked=model.on}}
Wiederholt: {{input type="checkbox" checked=model.repeated}}

<button {{action 'save'}}>Speichern</button>
<button{{action 'deleteAlarm' model}}>Delete</button>
