<h1>Alle Alarme</h1>
<ul>
    {{#each model as |alarm|}}
        <li>
            {{link-to alarm.title "alarms.edit" alarm tagName="h2"}}
            <button{{action 'deleteAlarm' alarm}}>x</button>
            <details>
                <summary>
                    Um <strong>{{alarm.time}}</strong>
                </summary>
                {{#if alarm.repeat}}
                    <span>täglich</span>
                {{/if}}
            </details>
        </li>
    {{else}}
        <strong>No Alarms! Weekend? {{link-to 'Create one' 'alarms.new'}}</strong>
    {{/each}}
</ul>